.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

body {
  text-align: center;
  display: grid;
  grid-auto-flow: row;
  align-content: space-evenly;
}

li {
  list-style-type: none;
}

.navbar {
  background-color: #333;
  padding: 10px 20px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Aligns items horizontally */
  justify-content: space-around; /* Optional: Adjust spacing */
}

.nav-list li {
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.nav-list a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
